.sprite_icon {
    background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: top;
}

.sprite_icon-arrow__side {
    width: 20px;
    height: 33px;
    background-position: -10px -10px;
}

.sprite_icon-arrow_down {
    width: 18px;
    height: 29px;
    background-position: -50px -10px;
}

.sprite_icon-baloon {
    width: 44px;
    height: 65px;
    background-position: -88px -10px;
}

.sprite_icon-camera {
    width: 65px;
    height: 50px;
    background-position: -152px -10px;
}

.sprite_icon-css {
    width: 72px;
    height: 34px;
    background-position: -10px -95px;
}

.sprite_icon-fb {
    width: 22px;
    height: 23px;
    background-position: -152px -80px;
}

.sprite_icon-glass {
    width: 75px;
    height: 28px;
    background-position: -102px -123px;
}

.sprite_icon-insta {
    width: 22px;
    height: 23px;
    background-position: -194px -80px;
}

.sprite_icon-like {
    width: 56px;
    height: 58px;
    background-position: -237px -10px;
}

.sprite_icon-mail {
    width: 23px;
    height: 17px;
    background-position: -236px -88px;
}

.sprite_icon-man {
    width: 15px;
    height: 15px;
    background-position: -279px -88px;
}

.sprite_icon-phone {
    width: 19px;
    height: 19px;
    background-position: -197px -123px;
}

.sprite_icon-pin {
    width: 35px;
    height: 50px;
    background-position: -236px -125px;
}

.sprite_icon-plane {
    width: 41px;
    height: 40px;
    background-position: -10px -195px;
}

.sprite_icon-question {
    width: 40px;
    height: 34px;
    background-position: -71px -195px;
}

.sprite_icon-up {
    width: 29px;
    height: 29px;
    background-position: -131px -195px;
}

.sprite_icon-vk {
    width: 22px;
    height: 23px;
    background-position: -180px -195px;
}







.column1 {  width: 8.33%;   }
.column2 {  width: 16.66%; }
.column3 {  width: 25%;      }
.column4 {  width: 33.33%; }
.column5 {  width: 41.66%; }
.column6 {  width: 50%;      }
.column7 {  width: 58.33%; }
.column8 {  width: 66.66%; }
.column9 {  width: 75%;      }
.column10 {  width: 83.11%; }
.column11 {  width: 91.66%; }
.column12 {  width: 100%;    }
div[class*="column"] {  float: left; padding: 15px; box-sizing: border-box;}
.row {    margin-left: -15px;  margin-right: -15px;}

.row:after ,.clearfix:after {content:""; display: block; clear: both;}

.pull-right {float:right}  .pull-left{float:left}
.text-right{text-align:right;} .text-center{text-align:center;}
.inline-block {display: inline-block;}  
ul.list-inline{padding:0; margin:0}
ul.list-inline>li{display: inline-block;} .inline {display: inline}
.container{ width: 1200px; margin: 0 auto;}

body{
	min-width: 1200px;
	font-family: "Roboto", "Arial", sans-serif;
	color: #444;
	font-size: 18px;
	line-height: 24px;
}

/*nav*/
.navigation-row{
	padding: 15px 0;
	background-color: #2c2c2c;
	color: #fff;
	box-sizing: border-box;
}
.logo{
	font-size: 22px;
	line-height: 34px;
	font-weight: 500;
}
.main-navigation{
	font-size: 0;
}
.main-navigation__item{
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	padding: 5px 10px;
	line-height: 22px;
	margin-left: 10px;
	border: 1px solid transparent;
}
.main-navigation__item:hover,
.main-navigation__item:active{
	border: 1px solid #fff;
}
.promo-block{
	padding: 170px 0 95px;
	background-image: url(../img/promo_bg.jpg);
	background-size: cover;
	background-position: center top;
	text-align: center;
	color: #fff;
}
.promo-block__title{
	margin: 0;
	font-size: 66px;
	line-height: 70px;
	font-weight: 500;
	width: 750px;
	margin: 0 auto;
}
.promo-block .btn{
	margin-top: 170px;
	color: #000;
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	outline: none;
	cursor: pointer;
	line-height: 22px;
	color: #fff;
	box-sizing: border-box;
	padding: 9px 14px;
	border: 1px solid #fff;
	background: none;
	position: relative;
}
.promo-block .btn:after{
	content: "";
	display: block;
	background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
	width: 18px;
    height: 29px;
    background-position: -50px -10px;
	position: absolute;
	top: 75px;
	left: 50%;
	transform: translateX(-50%);
}
.features{
	padding: 60px 0 80px;
}
.features__item{
	padding-left: 80px;
	width: 130px;
	position: relative;
	font-weight: 500;
}
.features__item--reliability::before{
	content: "";
	background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
    position: absolute;
    top: -10px;
    left: 0;
    width: 56px;
    height: 58px;
    background-position: -237px -10px;	
}
.features__item--learning{
	padding-left: 95px;
}
.features__item--learning::before{
	content: "";
	background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    left: 0;
    width: 75px;
    height: 28px;
    background-position: -102px -123px;
}
.features__item--photo{
	padding-left: 90px;
}
.features__item--photo::before{
	content: "";
	background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 65px;
    height: 50px;
    background-position: -152px -10px;
}
.features__item--views{
	padding-left: 96px;
}
.features__item--views::before{
	content: "";
	background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
   	position: absolute;
   	top: 0;
   	left: 5px;
   	width: 72px;
    height: 34px;
    background-position: -10px -95px;
}
.about{
	padding-bottom: 120px;
	border-bottom: 1px solid #ccc;
}
.second-title{
	font-size: 32px;
	font-weight: 500;
	line-height: 36px;
	position: relative;
	padding-bottom: 24px;
	margin-bottom: 45px;
	margin-top: 0;
}
.second-title--center{
	text-align: center;
}
.second-title::after{
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	height: 6px;
	width: 60px;
	background-color: #3e98d7;
}
.second-title--center::after{
	left: 50%;
	transform: translateX(-50%);
}
.about__text{
	margin: 0;
	margin-bottom: 25px;	
}
.about__text:last-child{
	margin-bottom: 0;
}
.content-video{
	min-height: 340px;
}
.gallery{
	padding-top: 90px;
	text-align: center;
	padding-bottom: 90px;
}
.slider{
	width: 100%;
	position: relative;
	text-align: center;
	font-size: 0;
}
.slider__item{
	display: inline-block;
	vertical-align: center;
	width: 295px;
	margin: 0 7px;
	opacity: 0.8;
	cursor: pointer;
}
.slider__item:hover{
	opacity: 1;
}

.slider__control, .owl-prev, .owl-next{
	position: absolute;
	content: "";
	top: 50%;
	margin-top: -17px;
	font-size: 0px;
	background-color: transparent;
    background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
    border: 0;
    width: 20px;
    height: 33px;
    background-position: -10px -10px;
    opacity: 0.5;
}
.slider__control--next, .owl-next{
	right: -2%;
 }
 .owl-next:hover{
 	opacity: 1;
 }
.slider__control--prev, .owl-prev{ 
	left: -2%;
	transform: rotate(-180deg);
}
.owl-prev:hover{
	opacity: 1;
}
.about-fly{
	text-align: center;
	background-image: url(../img/about-fly__bg.jpg);
	background-size: cover;
	background-position: center top;
}
.about-fly__process{
	position: relative;
	min-height: 500px;
}
.baloon{
	width: 110px;
	position: absolute;
    width: 44px;
    height: 65px;
    background-position: -88px -10px;
    background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
}
.baloon--1{
	left: 30px;
	top: 240px;
}
.baloon--2{
	left: 288px;
	top: 160px;
}
.baloon--3{
	left: 50%;
	top: 50px;
	transform: translate(-50%); 
}
.baloon--4{
	right: 288px;
	top: 160px;
}
.baloon--5{
	right: 30px;
	top: 240px;

}
.time{
	padding: 30px 0;
	color: #26668e;
}
.time .column6{
	font-weight: 500;
	font-size: 32px;
}
.counter__item{
	display: inline-block;
	vertical-align: top;
}
.payment{
	padding: 80px 0;
	border-bottom: 1px solid #ccc;
	margin-bottom: 70px;
}
.paymemt__text{
	font-weight: 400;
	font-size: 18px;
	width: 445px;
	line-height: 24px;
}
.payment__sum{
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
}
.payment__sum span{
	color: #f97e7e;
	font-weight: 500;
	font-size: 38px;
	vertical-align: middle;
}
.btn--blue{
	background-color: #46b0dc;
	color: #fff;
	border-radius: 3px;
	padding: 13px 42px;
	position: relative;
	bottom: 12px;
}
.payment-method{
	width: 590px;
}
.payment-method__text{
	font-size: 18px;
	font-weight: 400;
	width: 485px;
}
.payment-contacts{
	padding: 18px 0;
}
.new-line{
	line-height: 5px;
}
.payment-method__ways{
	padding-top: 15px;	
	line-height: 24px;
	font-size: 26px;
	font-weight: 500;
}
.faq_item__question{
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	position: relative;
	padding-left: 60px;
}
.faq_item__question::before{
	position: absolute;
	content:"";
	background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
	width: 40px;
    height: 34px;
	background-position: -71px -195px;
	left: 0px;
	top: -5px;
}
.faq_item__answer{
	padding-left: 75px;
	width: 450px;
}

.statistic{
	padding: 60px 0;
	background-image: url(../img/statastic_bg.jpg);
	background-size: cover;
	background-position: center top;
	color: #fff;
	text-align: center;
	margin-top: 60px;
	height: 378px;
}
.statistic-item{
	display: inline-block;
	vertical-align: top;
	text-align: center;
	width: 230px;
}
.team{
	padding: 90px 0;
	text-align: center;
	padding-bottom: 115px;
}
.team-item__name{
	padding-top: 38px;
	line-height: 26px;
	font-size: 22px;
	font-weight: 500;
}
.team-item__work{
	padding-top: 10px;
	font-size: 18px;
	font-weight: 500;
}
.feedback{
	padding-bottom: 110px;
	position: relative;
}
.feedback-item{
	width: 550px;
	font-size: 13px;
	display: inline-block;
	text-align: center;
}
.feedback-item__photo{
	width: 98px;
	height: 98px;
}
.feedback-item__name{
	font-weight: 500;
	font-size: 22px;
	padding-top: 25px;
	padding-bottom: 23px;
}
.feedback-item__text{
	font-size: 18px;
}
.contacts{
	padding: 140px 0 65px;
	background-image: url(../img/contacts_bg.jpg);
	background-size: cover;
	background-position: center top;
	height: 450px;
	box-sizing: border-box;
}
.contacts__title{
	position: relative;
	text-align: center;
	margin: 0 auto 50px;
	width: 340px;
	font-weight: 500;
	font-size: 26px;
	line-height: 30px;
}
.contacts__title::before{
	padding: 15px;
	background-color: #337ba0;
	border-radius: 3px;
	position: absolute;
	content: "";
	background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
	width: 41px;
    height: 40px;
    bottom: 80px;
    left: 145px;
    background-position: 5px -180px;
}
.contacts__title span{
	font-size: 18px;
	font-weight: 500;
}
.address{
	position: relative;
	padding-left: 58px;
}
.address::before{
	position: absolute;
	content: "";
	background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
	width: 35px;
    height: 50px;
    left: 0;
    background-position: -236px -125px;
}
.address__title{
	font-weight: 500;
	font-size: 22px;
	line-height: 26px;
	padding-bottom: 20px;
	color: #2b2b2b;
}
.address__text{
	font-weight: 500;
	font-size: 20px;
	line-height: 26px;
	padding-bottom: 20px;
	width: 175px;
	color: #525252;
}
.address__phone{
	font-weight: 500;
	font-size: 26px;
	color: #292929;
}
.email{
	font-size: 22px;
	font-weight: 500;
	line-height: 26px;
	text-decoration: underline;
	color: #444;
	position: relative;
	padding-left: 50px;
}
.email::before{
	position: absolute;
	content: "";
	background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
	width: 23px;
    height: 17px;
    background-position: -236px -88px;
    left: 5px;
    bottom: 5px;
}
.socio{
	padding-top: 30px;
	height: 25px;
	width: 110px;
}
.socio__item--vk{
	background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
	width: 22px;
    height: 23px;
    background-position: -180px -195px;
}
.socio__item--fb{
	background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
	width: 22px;
    height: 23px;
    background-position: -152px -80px;
}
.socio__item--insta{
	background-image: url(../sprite/spritesheet.png);
    background-repeat: no-repeat;
	width: 22px;
    height: 23px;
    background-position: -194px -80px;
}